* {
   
    transition: all.2s linear;
    
 }

.mainAcceuil{

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.HomePage{
height: 81.7vh;
width: 100%;
}
.admission{

    height: 30vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 15px;
    
}
.titleAdmission{

    height: 40%;
    width: 60%;
    position: relative;
    left: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px
}
.titleAdmission p{
    font-size: 25px;
}
.stepAdmission{
  
    height: 50%;
    display: flex;
    justify-content: center;
    
    
}
.stepAdmission ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  
    width: 90%;

}
.stepAdmission ul li section{
 
    display: flex;
    height: 10vh;
    padding: 10px;
   
    justify-content: space-evenly;
    width: 100%;



}
.stepAdmission .numberAdmission{
    
    height: 12vh;
    width: 10vh;
    font-size: 58px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-right:2px solid black ;
    

}
.stepAdmission .typeStepAdmmmission{
    font-size: 20px;
    padding: 10px;
    position: relative;
    bottom: 5px;
    
}

.gridCommunication{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.gridCommunication .behindCard{
    background-color: red;
    position: relative;
    right: 35vh;
    width: 75%;
    height: 25vh;
  
    
}
.communication{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    position: relative;
    bottom: 12vh;
    left: 29vh;
    gap: 70px;
    width: 100vh;


}
.btnGridCommunication{
  
    position: relative;
    bottom: 8vh;
    display: flex;
    justify-content: center;
}
.btnGridCommunication button{
    width: 48vh;
    height: 60px;
    background-color: white;
    font-weight: lighter;
    font-size: 20px;
}
.btnGridCommunication :hover{
    background-color: rgba(0, 0, 0, 0.256);
}
.threeGridCommunication{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.footer{
    position: relative;
    top: 5vh;
    width: 100%;
    
}

.iconQuestion{

    height: 50%;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.IconsList{
  
    height: 55px;
    width: 90%;
}
.IconsList ul{
    list-style-type: none;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}
.btnQuestions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnQuestions button{
    width: 90%;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.326);
    background-color: black;
    color: white;
    font-weight:400;
}
.logoParts{

    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo{
   
    height: 70%;
    width: 90%;
    background-color: gray;

}
